{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "semi": false,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "trailingComma": "all",
  "arrowParens": "always"
}
