[Unit]
Description=Run PolicyFS maint for mount %i

[Timer]
OnCalendar=*-*-* 00:30:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
