[Unit]
Description=PolicyFS maint (mount %i)
Wants=pfs@%i.service
After=pfs@%i.service
PartOf=pfs@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pfs maint %i
SuccessExitStatus=75
