[Unit]
Description=Run PolicyFS maint for mount %i

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
