[Unit]
Description=Run PolicyFS maint for mount %i

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
