[Unit]
Description=PolicyFS prune (mount %i)
Wants=pfs@%i.service
After=pfs@%i.service
PartOf=pfs@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pfs prune %i
SuccessExitStatus=75
